{% include "base.html" %}
{% extends 'bootstrap/base.html' %}
{% block content %}
<div class="mypresentation" style=" text-align:center;">
<p>Comming soon!</p>
<p>Until than, <a href="https://github.com/LuiseSchwenke" target="_blank">check out my GitHub </a>
    <p class="social-item"> <a class="social-link" href="https://github.com/LuiseSchwenke" target="_blank"><i class="ti-github" aria-hidden="true"></i></a></p>
</p>
    </div>
{% endblock %}
<footer class="footer py-3">
        <div class="container">
            <p class="small mb-0 text-light">
                &copy; <script>document.write(new Date().getFullYear())</script> <span style="color_white">Luise Schwenke</span>
            </p>
        </div>
    </footer>

