{% include "base.html" %}
{% extends 'bootstrap/base.html' %}
{% block content %}
<div class="mypresentation" style=" text-align:center;">

<ul>
     Elassurfam - SurfBlog <p> Using APIs, Matplotlib, Flask, SQLAlchemy and Pandas</p>
        <p>Visit <a href="https://elassurfam.herokuapp.com/" target="_blank"> elassurfam.herokuapp.com</a></p>


</ul>

<p>For more <a href="https://github.com/LuiseSchwenke" target="_blank">check out my <b>GitHub </b></a>
    <p class="social-item"> <a class="social-link" href="https://github.com/LuiseSchwenke" target="_blank"><i class="ti-github" aria-hidden="true"></i></a></p>
</p>
    </div>


<footer class="footer py-3">
        <div class="container">
            <p class="small mb-0 text-light">
                &copy; <script>document.write(new Date().getFullYear())</script> <span style="color_white">Luise Schwenke</span>
            </p>
        </div>
    </footer>


{% endblock %}


